.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}


.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.timer-circle-wrapper {
  padding-bottom: 30px;
}

.time-button-wrapper {
  padding: 25px;
}
.start {
  font-size: 22px;
  background-color: #ffd600;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 1);
  padding: 5px 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numInp {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4) inset;
  font-size: 20px;
  color: white;
}

.numInp::placeholder {
  color: white;
}
